on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - run: |
          pip install -r requirements.txt
          chmod +x gradlew
      - run: python generate.py build --version 1.0.0
      - run: |
          mkdir build-results
          cp fabric/build/libs/*.jar build-results/
          cp forge/build/libs/*.jar build-results/
          cp neoforge/build/libs/*.jar build-results/
      - uses: actions/upload-artifact@v4
        with:
          name: Mod jars
          path: 'build-results/*'